[
  {kernel, [
    {inet_dist_use_interface, {192,168,159,190}},
    {inet_dist_listen_min, 25672},
    {inet_dist_listen_max, 25672}
  ]},
  {rabbit, [
    {tcp_listeners, [
      {"192.168.159.190", 5672}
    ]},
    {cluster_partition_handling, autoheal}
  ]},
  {rabbitmq_management, [
    {listener, [
      {ip, "192.168.159.190"},
      {port, 15672}
    ]},
    {load_definitions, "/etc/rabbitmq/definitions.json"}
  ]},
  {rabbitmq_clusterer, [{config, "/etc/rabbitmq/rabbitmq-clusterer.config"}]}
].
% EOF
